#instrument {
    display: flex;
    flex-direction: column;

    #instrument-details {
        display: flex;
        flex-direction: row;
    }

    #delete-instrument {
        background-color: red;
        width: 50%;
        text-align: center;
        padding: 30px;
    }
}
