#catalogue {
  #catalogue-search-bar-form {
    width: 100%;
    background-color: darkslateblue;

    input[type="text"] {
      background-color: white;
      font-size: 24px;
      text-align: center;
      width: 100%;
    }
  }

  #catalogue-filter-serp-wrapper {
    display: flex;
    flex-direction: row;
    background-color: darkorchid;

    #catalogue-filters {
      background-color: darkslateblue;
      flex: 1;
    }

    #catalogue-serp-and-navbar-wrapper {
      background-color: aqua;
      flex: 2;

      #pages-navigation-bar {
        background-color: midnightblue;

        span {
          margin: 0 10px;
        }
      }
    }
  }
}
