#catalogue {
  #catalogue-search-bar-form {
    width: 100%;
    background-color: darkslateblue;

    input[type="text"] {
      background-color: white;
      font-size: 24px;
      text-align: center;
      width: 100%;
    }
  }

  #catalogue-filter-serp-wrapper {
    display: flex;
    background-color: darkorchid;

    #catalogue-filters {
      background-color: darkslateblue;
      flex: 1;
    }

    #catalogue-serp {
      flex: 2;
    }
  }
}
