:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

#app {
    border: 1px solid black;
    background-color: gray;
    min-width: 700px;
    margin: 20px 30px;
}

#app > h1 {
    text-align: center;
}