header {
  nav {
    display: flex;
    font-weight: bold;
  }

  nav > button {
    border: 1px solid black;
    flex: 1;
    padding: 1em 0;
    text-align: center;
    background-color: #55c4fa;
    color: #ffffff;
  }

  nav > button:hover {
    background-color: #175cc4;
  }
}
