.favorite__button {
  background-color: #1e90ff;
  color: #ffffff;
  flex: 1;
  cursor: pointer;
  border: 1px #cccccc solid;
}

.favorite {
  color: #dc143c;
  font-weight: bold;
}

.favorite__button:hover {
  background-color: #007bff;
}
