@use "shared/styles/vars" as vars;

.serp {
  display: flex;
  flex-wrap: wrap;
}

.serp__instrument_card_wrapper {
  width: 50%;
}

.not_found {
  font-size: 2em;
  margin: 0.5em;
}

@media (max-width: vars.$media_threshold) {
  .serp {
    flex-direction: column;
  }

  .serp__instrument_card_wrapper {
    width: 100%;
  }
}