.serp-instrument-actions {
  display: flex;

  .serp-remove-instrument-button {
    background-color: red;
    flex-basis: 25%;
  }

  .serp-edit-instrument-button {
    background-color: fuchsia;
    flex-basis: 25%;
  }

  .serp-go-to-instrument-details-button {
    background-color: blue;
    padding: 10px 40px;
    flex-basis: 50%;
    flex-grow: 1;
  }
}
