.wrapper {
  display: flex;
}

.h1 {
  color: #000000;
}

.h1__dark {
  color: #ffffff;
}

.instrument__description {
  flex: 3;
}

.primary {
  color: #212529;
}

.secondary {
  color: #6c757d;
}

.secondary__dark {
  color: #ffffff;
}
