.filter_sidebar {
  padding: 0.2em;
  background-color: #E0E0E0;
  border: 1px #CCCCCC solid;
}

.filter__wrapper {
  margin-bottom: 0.5em;
}

.filter__wrapper:last-child {
  margin-bottom: 0;
}

.vertical__wrapper {
  display: flex;
}