@use "shared/styles/vars" as vars;

.filter_sidebar {
  padding: 0.2em;
  background-color: #e0e0e0;
  border: 1px #cccccc solid;
}

.filter__wrapper {
  flex: 1;
  margin-bottom: 0.5em;
}

.filter__wrapper:last-child {
  margin-bottom: 0;
}

.vertical__wrapper {
  display: flex;
}

@media (max-width: vars.$media_threshold) {
  .filter__type_manufacturer__wrapper {
    display: flex;
  }

  .filter_sidebar {
    //display: none;
  }
}
