@use "shared/styles/vars" as vars;

.filter_sidebar {
  padding: 0.2em;
  background-color: #e0e0e0;
  border: 1px #cccccc solid;
}

.filter_sidebar__dark {
  background-color: #212529;
  color: #ffffff;
}

.filter__wrapper {
  flex: 1;
  margin-bottom: 0.5em;
}

.filter__wrapper:last-child {
  margin-bottom: 0;
}

.horizontal__wrapper {
  display: flex;
}

@media (max-width: vars.$media_threshold) {
  .media__horizontal__wrapper {
    display: flex;
    margin-bottom: 0.5em;
  }
  .media__horizontal__wrapper:last-child {
    margin-bottom: 0;
  }
}
