:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}

#app {
  background-color: #F5F5F5;
  max-width: 1024px;
  margin: 0 auto;
  border: 1px #DEE2E6 solid;
}

h1 {
  margin: 0;
}