:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

#app {
  border: 1px solid black;
  background-color: gray;
  max-width: 1024px;
  margin: 0 auto;
}

#app > h1 {
  text-align: center;
}
