:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}

#app {
  background-color: #f0f0f0;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
