root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**openapi/*.yml]
indent_size = 2

[*.{kt,kts}]
ktlint_standard = disabled
ktlint_standard_wrapping = enabled
ktlint_standard_trailing-comma-on-call-site = enabled

# do not use linter for codegen
[**/build/openapi/**/*.kt]
ktlint = disabled
