#create-instrument {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .create-instrument-field {
    display: flex;

    label {
      flex-basis: 30%;
    }

    input {
      flex-basis: 70%;
    }
  }
}
