.h1 {
  text-align: center;
  margin: 0.5em 0;
}

.h1__dark {
  color: #ffffff;
}

.favorite__empty {
  text-align: center;
}

.instruments__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.instrument__wrapper {
  width: 50%;
}
