header {
  nav {
    display: flex;
    font-weight: bold;
  }

  nav > button {
    flex: 1;
    padding: 1em 0;
    text-align: center;
    /*background-color: #55c4fa;*/
    background-color:  #1E90FF;
    color: #ffffff;
    border: 1px #CCCCCC solid;
  }

  nav > button:hover {
    background-color: #175cc4;
  }
}
