@use "shared/styles/vars" as vars;

.catalogue__wrapper {
  display: flex;
  flex-direction: column;
  color: #212529;
}

.catalogue__filters__serp__navbar__wrapper {
  display: flex;
}

.catalogue__filters__wrapper {
  flex: 1;
  background-color: #e0e0e0;
}

.catalogue__serp__navbar__wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

@media (max-width: vars.$media_threshold) {
  .catalogue__filters__serp__navbar__wrapper {
    flex-direction: column;
  }
}