.catalogue__wrapper {
  display: flex;
  flex-direction: row;
  background-color: darkorchid;
}

.catalogue__filters__wrapper {
  background-color: darkslateblue;
  flex: 1;
}

.catalogue__serp__navbar__wrapper {
  background-color: aqua;
  flex: 3;
}

.pages_navbar {
  background-color: midnightblue;

  span {
    margin: 0 10px;
  }
}