.login__form {
  max-width: 640px;
  display: flex;
  flex-direction: column;

  margin: 2em auto;

  input {
    font-size: 2em;
  }
}

.login__form__dark {
  background-color: #212529;
}

.login__form__input__dark {
  color: #ffffff;
  background-color: #212529;
  border: 1px darkgray solid;

  &::placeholder {
    color: #ffffff;
  }
}
