.navbar {
  background-color: #F8F9FA;
  color: #ECF0F1;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.navbar__button {
  background-color: #007BFF;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  font-family: Roboto, Arial, serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border: 1px #CCCCCC solid;
}

.navbar__button:hover {
  background-color: #0056b3;
  transition: background-color 0.2s ease-in-out;
}

.navbar__non_clickable {
  pointer-events: none;
  opacity: 0.5;
}
