@media (max-width: 570px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1em;

    input[type="text"] {
      background-color: white;
      text-align: center;
      flex: 4;
    }

    input[type="submit"] {
      background-color: lemonchiffon;
      flex: 1;
    }
  }

  .reasons {
    flex-direction: column;

    div {
      margin-bottom: 0.5em !important;
    }
    div:last-child {
      margin-bottom: 0 !important;
    }
  }

  .trends__slider {
    margin: 0 1.5em 1.5em 1.5em !important;
  }
}
