.home {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.home_logo {
  height: 45vh;
  display: flex;
  flex-direction: column-reverse;
}

.search_bar__form {
  display: flex;
  margin-bottom: 1em;
}

.search_bar__form__input__text {
  background-color: #f0f0f0;
  font-size: 2.5rem;
  text-align: center;
  flex: 4;
  padding: 0;
  margin: 0;
}

.search_bar__form__input__submit {
  background-color: #ffb400;
  font-size: 2.5rem;
  flex: 1;
}

.reason__h1 {
  color: #002244;
  margin: 1em 0;
}

.reasons {
  display: flex;

  div {
    border: 1px solid black;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.5rem;
    flex: 1;
    margin: 0 1em;
  }
}

.trends__h1 {
  margin: 1em 0;
}

.trends__slider {
  margin: 0 15px 15px 15px;
}

.each_slide {
  margin: 0 15px;
}

@media (max-width: 570px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
  }

  .search_bar__form {
    display: flex;
    flex-direction: column;
  }

  .reasons {
    flex-direction: column;

    div {
      margin-bottom: 0.5em !important;
    }
    div:last-child {
      margin-bottom: 0 !important;
    }
  }

  .trends__slider {
    margin: 0 1.5em 1.5em 1.5em !important;
  }
}
